<section ng-controller="EditProfileController" style="padding-top: 20px;" class="col-lg-6">
	<h2>Primary Profile</h1>

	<section class="profile col-md-6">
		<div class="profile-box bg-gray">
			<div class="profile-box-header">
				<span class="small-site-logo pull-left">Insighter</span>
				<span class="glyphicon glyphicon-menu-hamburger pull-right" style="margin: 10px 20px 10px"></span>
			</div>

			<div class="profile-image-box text-center">
				<img src="{{authentication.user.profileImageURL}}" alt="profile photo" class="profile-image" ng-click="editProfileImage('lg')">
			</div>

			<div class="profile-data">
				<div class="profile-name-box pull-left">
					<div class="profile-name-cover pull-left">
						<h3 class="profile-name" ng-hide="allowEditName">{{user.firstName}} {{user.lastName}}</h3>
						<div ng-show="allowEditName" style="margin-left: -5px;">
							<input ng-model="user.firstName" type="text" class="form-control edit-first-name">
							<input ng-model="user.lastName" type="text" class="form-control edit-last-name">
						</div>
					</div>
					<span class="glyphicon glyphicon-pencil profile-edit-icon pull-left edit-profile-data-icon" ng-show="editNameButton" ng-click="editProfileName()"></span>
				</div>

				<div class="profile-title-box pull-left">
					<span class="profile-title pull-left" ng-hide="allowEditTitle">{{user.title ? user.title : 'Add your title here'}}</span>
					<div ng-show="allowEditTitle">
						<textarea class="form-control edit-profile-title" ng-model="user.title"></textarea>
					</div>
					<span class="glyphicon glyphicon-pencil pull-left edit-profile-data-icon" ng-show="editTitleButton" ng-click="editProfileTitle()"></span>
				</div>

				<div class="profile-social-links text-center pull-left">
					<div ng-hide="allowEditSocial">
						<a href="{{user.twitter}}" target="_blank"><i class="fa fa-twitter social-link"></i></a>
						<a href="{{user.linkedIn}}" target="_blank"><i class="fa fa-linkedin-square social-link"></i></a>
						<a href="{{user.googlePlus}}" target="_blank"><i class="fa fa-google-plus social-link"></i></a>
						<a href="{{user.facebook}}" target="_blank"><i class="fa fa-facebook-official social-link"></i></a>
						<span class="glyphicon glyphicon-pencil edit-profile-data-icon" ng-show="editSocialButton" ng-click="editProfileSocial()"></span>
					</div>
					<div ng-show="allowEditSocial">

						<div class="profile-social-edit">
							<i class="fa fa-twitter social-link pull-left"></i>
							<input type="text" class="form-control pull-right" ng-model="user.twitter">
						</div>

						<div class="profile-social-edit">
							<i class="fa fa-linkedin-square social-link pull-left"></i>
							<input type="text" class="form-control pull-right" ng-model="user.linkedIn">
						</div>

						<div class="profile-social-edit">
							<i class="fa fa-google-plus social-link pull-left"></i>
							<input type="text" class="form-control pull-right" ng-model="user.googlePlus">
						</div>

						<div class="profile-social-edit">
							<i class="fa fa-facebook-official social-link pull-left"></i>
							<input type="text" class="form-control pull-right" ng-model="user.facebook">
						</div>
					</div>
				</div>
			</div>
		</div>
		<section class="text-center">
			<button class="btn btn-default" ng-click="goEditMode()" ng-hide="editMode">Edit Profile</button>
			<button class="btn btn-default" ng-show="editMode" ng-click="returnViewMode()">Cancel</button>
			<button class="btn btn-primary" ng-show="editMode" ng-click="saveProfile()">Save</button>
		</section>
	</section>

	<div class="col-md-6" ng-show="editMode">
		<h3>Connect to Social Networks</h3>
        <div>
            <div class="col-xs-3 social-box">
            	<i class="fa fa-linkedin-square fa-3x"></i>
            	<span class="popup-social-text">LinkedIn</span>
            </div>
            
            <div class="col-xs-3 social-box">
            	<i class="fa fa-twitter-square fa-3x"></i>
            	<span class="popup-social-text">Twitter</span>
            </div>

            <div class="col-xs-3 social-box">
            	<i class="fa fa-google-plus fa-3x"></i>
            	<span class="popup-social-text">Google</span>
            </div>

            <div class="col-xs-3 social-box">
            	<i class="fa fa-facebook-official fa-3x"></i>
            	<span class="popup-social-text">Facebook</span>
            </div>
        </div>
    </div>

</section>
<section class="row col-lg-6" ng-controller="SocialAccountsController">
  <h3 class="col-md-12 text-center" ng-show="hasConnectedAdditionalSocialAccounts()">Connected social accounts:</h3>
  <div class="col-md-12 text-center">
    <div ng-repeat="(providerName, providerData) in user.additionalProvidersData" class="social-account-container">
      <img ng-src="/modules/users/client/img/buttons/{{providerName}}.png">
      <a class="btn btn-danger btn-remove-account" ng-click="removeUserSocialAccount(providerName)">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>
  </div>
  <h3 class="col-md-12 text-center" ng-show="hasConnectedAdditionalSocialAccounts()">Unconnected social accounts:</h3>
  <div class="col-md-12 text-center">
    <div class="social-account-container" ng-hide="isConnectedSocialAccount('facebook')">
      <img ng-src="/modules/users/client/img/buttons/facebook.png">
      <a class="btn btn-success btn-remove-account" href="/api/auth/facebook" target="_self">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </div>
    <div class="social-account-container" ng-hide="isConnectedSocialAccount('twitter')">
      <img ng-src="/modules/users/client/img/buttons/twitter.png">
      <a class="btn btn-success btn-remove-account" href="/api/auth/twitter" target="_self">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </div>
    <div class="social-account-container" ng-hide="isConnectedSocialAccount('google')">
      <img ng-src="/modules/users/client/img/buttons/google.png">
      <a class="btn btn-success btn-remove-account" href="/api/auth/google" target="_self">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </div>
    <div class="social-account-container" ng-hide="isConnectedSocialAccount('linkedin')">
      <img ng-src="/modules/users/client/img/buttons/linkedin.png">
      <a class="btn btn-success btn-remove-account" href="/api/auth/linkedin" target="_self">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </div>
  </div>
</section>