 <section class="row" ng-controller="ChangeProfilePictureController" style="padding: 15px;">
	<fieldset>
		<div class="form-group">
			<input type="file" id="fileInput" nv-file-select uploader="uploader" class="center-input"/>
		</div>
	  	<div class="form-group text-center cropArea">
	    	<img-crop image="newImage" result-image="croppedImage" result-image-size="100"></img-crop>
	  	</div>
	  	<div class="form-group text-center">
	  		Cropped Image: <br />
	  		<img ng-src="{{croppedImage}}" />
	  	</div>
		<div class="form-group text-center">
			<button class="btn btn-primary" ng-click="uploadProfilePicture();">Upload</button>
			<button class="btn btn-default" ng-click="cancelUpload();">Cancel</button>
		</div>	  	
	</fieldset>  
</section>
