<section ng-controller="InsightsController">

  <div class="col-md-12">

    <p>Create a New Insight - Boost your Identity and Social Leads</p>

    <form name="insightForm" class="form-horizontal" ng-submit="create(insightForm.$valid)" novalidate>
        <fieldset>
          <div class="form-group">
            <input name="orig_url" ng-model="orig_url" id="orig_url" class="form-control" placeholder="Type URL of content (e.g. www.techcrunch.com/article)">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-default" value="Create Insight">
          </div>
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>

  </div>

</section>