.profile {
  width: 300px;
  float: left;
  margin-bottom: 30px;
}
.profile-box {
  float: left;
  margin-bottom: 30px;
}
.small-site-logo {
    font-weight: bold;
    color: #359ECF;
    font-size: 10px;
    padding: 2px;
    text-decoration: none;
    border: 1px solid #359ECF;
    margin: 10px;
}
.profile-box-header {
  height: 40px;
}
.profile-image-box {
  margin: 5px 0 20px 0;
}
.profile-name-cover {
  text-transform: uppercase;
  width: 170px;
  margin-left: 65px;
  text-align: center;
  padding: 0 10px;
}
.profile-title {
  width: 190px;
  text-align: center;
  font-style: italic;
  margin-left: 50px;
  padding: 0 10px;
}
.profile-image {
  border-radius: 50%;
  width: 100px;
}
.profile-social-links {
  width: 100%;
  margin-top: 10px;
}
.social-link {
  padding: 4px;
  margin-top: 5px;
}
.profile-data {
  height: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
  float: left;
}
.profile-name-box {
  width: 100%;
  margin-bottom: 5px;
}
.profile-edit-icon {
  margin-top: 2px;
}
.edit-profile-data-icon {
  padding: 3px;
  background-color: lightgray;
}
.profile-name {
  font-weight: bold;
  margin: 0;
}
.edit-profile-title {
  width: 190px;
  margin: 10px 5px 5px 70px;
  float: left;
}
.profile-social-edit > input {
  width: 190px;
}
.profile-social-edit {
  padding: 0 40px 5px;
  height: 43px;
}
.edit-first-name {
  margin-bottom: 5px;
  width: 190px;
}
.edit-last-name {
  width: 190px;
}
.center-input {
  margin: auto;
}
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width: 320px;
  height: 180px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-remove-account {
  top: 10px;
  right: 10px;
  position: absolute;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: white;
  cursor: inherit;
  display: block;
}
.user-profile-picture {
  min-height: 150px;
  max-height: 150px;
}
