<section ng-controller="InsightsController" ng-init="findOne()">

  <p>&nbsp;</p>

  <form name="insightForm" class="form-horizontal" ng-submit="create(insightForm.$valid)" novalidate>
        <fieldset>
          <div class="form-group">
            <input name="orig_url" ng-model="orig_url" id="orig_url" class="form-control" placeholder="Type URL of content (e.g. www.techcrunch.com/article)">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-default" value="Create Insight">
          </div>
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
  </form>

  <div class="page-header">
    <span>Create new Insight</span>&nbsp;<a href="/">x</a>
  </div>
  <div class="col-xs-3">
    <form name="insightForm" class="form-horizontal" ng-submit="update(insightForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group">
          <button ui-sref="insights.preview({insightId: insight._id})">Preview</button>
          <button type="button" class="btn btn-default" ng-click="publish_popup('lg', insight)">Publish</button>
        </div>

        <div class="form-group">
          <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}"/><br />
          <span ng-bind="authentication.user.displayName"></span>
        </div>

        <div class="form-group" show-errors>
          <input name="title" type="text" ng-model="insight.title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="insightForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Insight title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <textarea name="content" ng-model="insight.content" id="content" class="form-control" cols="30" rows="10" placeholder="Share an update" ng-keyup="autoSave()"></textarea>
        </div>

        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="col-xs-9">


  <div>
</section>
