<section ng-controller="InsightsController" ng-init="find()">
  <h1 class="my-insights">My Insights</h1>

  <table class="table insights-list" ng-if="insights.length">

    <tr style="background-color: #F9F9F9;">
      <td><input type="checkbox" ></td>
      <td colspan="7">
        <button class="btn btn-primary no-border-radius site-button-width" ng-click="editInsight(checkboxes)">Edit</button>
        &nbsp;&nbsp;
        <button class="btn btn-danger no-border-radius site-button-width" ng-click="multi_delete()">Delete</button>
        &nbsp;&nbsp;<span class="text-danger">{{checkbox_warning}}</span>
      </td>
    </tr>

    <tr ng-if="insights.length">
      <th></th>
      <th>Date</th>
      <th>Insight</th>
      <th>Content Title</th>
      <th>Insighter URL</th>
      <th>Original URL</th>
      <th>Views</th>
      <th>Clicks</th>
    </tr>

    <tr ng-repeat="insight in insights">
      <td> <input type="checkbox" ng-click="saveClickedCheckbox(insight._id)"> </td>
      <td ng-bind="insight.created | date:'mediumDate'"></td>

      <td class="hover" style="width:250px;">
        <span ng-bind="insight.content | limitTo:100" ui-sref="insights.view({insightId: insight._id})" ng-hide="openEditBox == insight._id"></span>
        <section ng-controller="InsightsController" ng-show="openEditBox == insight._id">
          <div class="form-group" style="padding: 0 15px;">
            <textarea name="content" ng-model="insight.content" id="content" class="form-control" cols="30" rows="8" placeholder="Share an update"></textarea>
          </div>

          <div class="content-type text-center">
            <span class="glyphicon glyphicon-pencil"><br />Text</span>
            <span class="glyphicon glyphicon-camera"><br />Photo</span>
            <span class="glyphicon glyphicon-link"><br />Link</span>
            <span class="glyphicon glyphicon-facetime-video"><br />Video</span>
          </div>
          <br /><br />
          <div class="form-group text-center my-insights-actions">
            <button class="btn btn-default no-border-radius" ng-click="multi_edit()">Done</button>&nbsp;&nbsp;
            <button class="btn btn-primary no-border-radius" ng-click="multi_delete()">Re-Publish</button>
          </div>
        </section>
      </td>

      <td ng-bind="insight.title"></td>
      <td><a href="Bit.ly/weihzxx">Bit.ly/weihzxx</a></td>
      <td style="width:100px;"><a href="{{insight.orig_url}}">{{insight.orig_url}}</a></td>
      <td ng-bind="insight.views" class="text-center"></td>
      <td class="text-center">4</td>
    </tr>

  </table>

  <div class="alert alert-warning text-center" ng-if="insights.$resolved && !insights.length">
    No insights yet, why don't you <a ui-sref="insights.create">create one</a>?
  </div>

</section>
