<section ng-controller="InsightsController" ng-init="find()">
  <h1 class="my-insights">My Insights</h1>

  <table class="table insights-list" ng-if="insights.length">

    <tr>
      <td><input type="checkbox" ></td>
      <td colspan="7">
        <button class="btn btn-primary no-border-radius site-button-width" ng-click="multi_edit()">Edit</button>
        <button class="btn btn-danger no-border-radius site-button-width" ng-click="multi_delete()">Delete</button></td>
    </tr>

    <tr ng-if="insights.length">
      <th></th>
      <th>Date</th>
      <th>Insight</th>
      <th>Content Title</th>
      <th>Insighter URL</th>
      <th>Original URL</th>
      <th>Views</th>
      <th>Clicks</th>
    </tr>

    <tr ng-repeat="insight in insights">
      <td> <input type="checkbox" ng-model="slt[insight._id]"> </td>
      <td ng-bind="insight.created | date:'mediumDate'"></td>
      <td ng-bind="insight.content | limitTo:100" ui-sref="insights.view({insightId: insight._id})" class="hover" style="width:200px;"></td>
      <td ng-bind="insight.title"></td>
      <td><a href="Bit.ly/weihzxx">Bit.ly/weihzxx</a></td>
      <td style="width:100px;"><a href="{{insight.orig_url}}">{{insight.orig_url}}</a></td>
      <td ng-bind="insight.views" class="text-center"></td>
      <td class="text-center">4</td>
    </tr>

  </table>

  <div class="alert alert-warning text-center" ng-if="insights.$resolved && !insights.length">
    No insights yet, why don't you <a ui-sref="insights.create">create one</a>?
  </div>

</section>
