<section ng-controller="InsightsController" ng-init="find()">
  <div class="page-header">
    <h1>My Insights</h1>
  </div>

  <table class="table">

    <tr>
      <td><input type="checkbox" ></td>
      <td><button ng-click="multi_edit()">Edit</button></td>
      <td><button ng-click="multi_delete()">Delete</button></td>
    </tr>

    <tr ng-if="insights.length">
      <th></th>
      <th>Date</th>
      <th>Insight</th>
      <th>Content Title</th>
      <th>Insighter URL</th>
      <th>Original URL</th>
      <th>Views</th>
      <th>Clicks</th>
    </tr>

    <tr ng-repeat="insight in insights">
      <td> <input type="checkbox" ng-model="slt[insight._id]"> </td>
      <td ng-bind="insight.created | date:'mediumDate'"></td>
      <td ng-bind="insight.content | limitTo:200" ng-maxlength="50" ui-sref="insights.view({insightId: insight._id})" class="hover"></td>
      <td ng-bind="insight.title"></td>
      <td >Bit.ly/weihzxx</td>
      <td ng-bind="insight.orig_url"></td>
      <td ng-bind="insight.views"></td>
      <td>4</td>
    </tr>

  </table>

</section>
