    <div class="edit-title text-center">
      <span>Create new Insight</span>
      <button type="button" class="close" aria-label="Close" ui-sref="home()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="text-center">
      <hr class="crossover-strip">
      <form name="insightForm" ng-submit="update(insightForm.$valid)" novalidate ng-controller="InsightsController">
        <fieldset>
          <div class="form-group edit-buttons text-center">
            <button type="button" class="btn btn-default no-border-radius" ui-sref="insights.preview({insightId: insight._id})">Preview</button>
            <button type="button" class="btn btn-primary no-border-radius" ng-click="publish_popup('lg', insight)">Publish</button>
          </div>

          <div>
            <img class="edit-img" ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}"/><br />
            <span class="edit-profile-name" ng-bind="authentication.user.displayName"></span>
            <div>{{authentication.user.title}}</div>
          </div>

          <div ng-hide="allowEditSocial">
            <a href="{{user.twitter}}" target="_blank"><i class="fa fa-twitter social-link"></i></a>
            <a href="{{user.linkedIn}}" target="_blank"><i class="fa fa-linkedin-square social-link"></i></a>
            <a href="{{user.googlePlus}}" target="_blank"><i class="fa fa-google-plus social-link"></i></a>
            <a href="{{user.facebook}}" target="_blank"><i class="fa fa-facebook-official social-link"></i></a>
            <span class="glyphicon glyphicon-pencil edit-profile-data-icon" ng-show="editSocialButton" ng-click="editProfileSocial()"></span>
          </div>

          <div class="form-group" style="padding: 0 15px;">
            <textarea name="content" ng-model="insight.content" id="content" class="form-control" cols="30" rows="8" placeholder="Share an update" ng-keyup="autoSave()"></textarea>
          </div>

          <div class="content-type">
            <span class="glyphicon glyphicon-pencil"><br />Text</span>
            <span class="glyphicon glyphicon-camera"><br />Photo</span>
            <span class="glyphicon glyphicon-link"><br />Link</span>
            <span class="glyphicon glyphicon-facetime-video"><br />Video</span>
          </div>

          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>