.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
.home-create-insight {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 60%;
  height: 100px;
}
.custom-help-block {
  font-style: italic;
  padding-left: 20px;
}
.orig-url {
  width: 64% !important;
  border: 1px solid #0099FF;
}
.no-border-radius {
  border-radius: 0 !important;
}
.light-blue-button {
  color: #ffffff;
  background-color: #0099FF;
}
.create-insight-button:hover {
  color: #ffffff;
}