body, html {
  height: 100%;
}
.content {
  height: 100%;
  margin: 0 0 0 215px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-left: 10px;
  box-shadow: 0 0 6px 2px #ccc;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
.main-content {
  position: relative;
  height: 92%;
  width: 100%;
  float: left;
  padding: 50px;
}
.custom-help-block {
  font-style: italic;
  padding-left: 20px;
}
.orig-url {
  border: 1px solid #0099FF;
  width: 100% !important;
}
.no-border-radius {
  border-radius: 0;
}
.light-blue-button {
  color: #ffffff;
  background-color: #0099FF;
  width: 116px;
}
.create-insight-button:hover {
  color: #ffffff;
}
.navbar-toggle {
  display: block;
  float: left;
  margin-right: 0;
  margin-top: 13px;
}
.navbar-toggle span {
  background-color: gray;
  height: 4px !important;
  border-radius: 10px !important;
}
.side-menu {
  background-color: #ffffff;
  float: left;
  width: 215px;
  height: 100%;
}
.clean-hr {
  border-color: gray;
  margin: 0;
}
.overlay-top-nav {
  background-color: #F9F9F9;
  width: 100%;
}
.side-menu-bottom {
  float: left;
  padding: 20px 0;
  height: 90%;
  width: 100%;
}
.side-menu-bottom > span {
  font-weight: bold;
}
.sub-section {
  padding-top: 10px;
  list-style: none;
  line-height: 22px;
  padding-left: 18px;
}
.pro {
  color: #ff0000;
  font-style: italic;
  font-size: xx-small;
}
.site-title, .site-title:hover {
  font-weight: bold;
  color: #359ECF;
  font-size: 24px;
  margin: 15px;
  padding: 7px;
  line-height: 20px;
  float: left;
  text-decoration: none;
  border: 1px solid #359ECF;
}
.navbar-header {
  padding-left: 10px;
}
.top-header {
  padding-right: 50px;
  float: left;
  width: 100%;
  height: 8%;
}
.create-insight-form {
  max-width: 700px;
  margin: auto;
  height: 70px;
  top: -8%;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  padding: 0 20px;
}
.shift-left {
  margin-left: -125px;
}
.bg-white {
  background-color: #ffffff;
}
.bg-gray {
  background-color: #F9F9F9;
}
.link-color {
  color: #000000;
}
.header-form {
  padding-top: 15px;
  width: auto;
}
.header-form input.form-control {
  width: 300px;
  float: left;
  border: 1px solid #359ECF;
  border-right: none;
}
.header-form button {
  border: 1px solid #359ECF;
}
.edit-title {
  padding: 0 10px 10px 0;
}
.edit-title > span {
  color: #ff0000;
  font-weight: bold;
}
.edit-buttons {
  background-color: #DCDCDC;
  padding: 5px 0;
}
.edit-img {
  border-radius: 50%;
  width: 80px;
  margin-bottom: 10px;
}
.edit-profile-name {
  text-transform: uppercase;
  font-weight: bold;
}
.related-insights-section {
  padding: 20px 0;
  text-transform: uppercase;
}
.content-type span {
  padding: 0 5px;
  font-size: smaller;
}
.default-sidebar {
  padding: 0 20px;
}
.span-menu {
  font-weight: bold;
}
.yellow-orange {
  background-color: #D9A275 !important;
}
.full-height {
  height: 100%;
}
.main-content section {
  height: 100%;
}
.full-width {
  width: 100%;
}
