body, html {
  height: 100%;
}
.content {
  margin-top: 50px;
  height: 100%;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-left: 10px;
  box-shadow: 0 0 6px 2px #ccc;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
.home-create-insight {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100px;
  max-width: 700px;
}
.custom-help-block {
  font-style: italic;
  padding-left: 20px;
}
.orig-url {
  border: 1px solid #0099FF;
  width: 100% !important;
}
.no-border-radius {
  border-radius: 0;
}
.light-blue-button {
  color: #ffffff;
  background-color: #0099FF;
}
.create-insight-button:hover {
  color: #ffffff;
}
.navbar-toggle {
  display: block;
  float: left;
  margin-right: 0px;
}
.navbar-toggle span {
  background-color: #D9A275;
  height: 4px !important;
  border-radius: 10px !important;
}
.content section {
  position: relative;
  float: left;
  height: 100%;
}
.side-menu {
  background-color: #F9F9F9;
}
.clean-hr {
  border-color: gray;
  margin: 0;
}
.overlay-top-nav {
  margin-top: -50px;
  background-color: #F9F9F9;
  width: 100%;
}
.side-menu-bottom {
  padding: 20px 30px;
}
.side-menu-bottom > span {
  font-weight: bold;
}
.sub-section {
  padding-top: 10px;
  list-style: none;
  line-height: 22px;
  padding-left: 18px;
}
.pro {
  color: #ff0000;
  font-style: italic;
  font-size: xx-small;
}
.site-title, .site-title:hover {
  font-weight: bold;
  color: #359ECF;
  font-size: 24px;
  margin: 15px;
  padding: 7px;
  line-height: 20px;
  float: left;
  text-decoration: none;
  border: 1px solid #359ECF;
}
.navbar-header {
  padding-left: 10px;
}
.top-header {
  padding-right: 50px;
}
